<h1>Listar Funcion치rios</h1>
<%= link_to 'Cadastrar Funcion치rio', new_employee_path, class: "btn btn-primary" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cargo</th>
      <th>Sal치rio</th>
      <th>Carga Hor치ria</th>
      <th>Telefone</th>
      <th colspan="3" width="18%"></th>
    </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.office %></td>
      <td><%= employee.salary %></td>
      <td><%= employee.workload %></td>
      <td><%= employee.telephone %></td>
      <td><%= link_to 'Visualizar', employee_path(employee) %></td>
      <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
      <td><%= link_to 'Excluir', employee_path(employee),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  <% end %>
</table>
