<h1>Dados do funcionário</h1>

<div class="panel panel-default">
  <div class="panel-body">

    <p>
      <strong>Nome:</strong>
      <%= @employee.name %>
    </p>

    <p>
      <strong>Cargo:</strong>
      <%= @employee.office %>
    </p>

    <p>
      <strong>Salário:</strong>
      <%= number_to_currency(@employee.salary, unit: "R$ ", separator: ",", delimiter: ".") %>
    </p>

    <p>
      <strong>Carga Horária (h/semana):</strong>
      <%= @employee.workload %>
    </p>

    <p>
      <strong>Telefone:</strong>
      <%= @employee.telephone %>
    </p>

  </div>

  <div class="panel-footer">
    <%= render partial: 'shared/crud_buttons',
      :locals => {:edit_path => edit_employee_path, :destroy_path => employee_path} %>
  </div>
</div>
