<h1>Relatório de Vendas</h1>

<div class="row hidden-print">
  <div class="col-md-4 col-md-push-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Dados</h3></div>
      <div class="panel-body">

        <%= form_for @sales_report, as: :sales_report, url: generate_sales_report_path, method: :get, html: { class: "form" } do |f| %>
          <div class="form-group row">
            <div class="col-md-6">
              <%= f.label :initial_date %><br>
              <%= f.text_field :initial_date, {class: "form-control",  data:{ provide:'datepicker' } } %>
            </div>

            <div class="col-md-6">
              <%= f.label :final_date %><br>
              <%= f.text_field :final_date, {class: "form-control",  data:{ provide:'datepicker' } } %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <%= f.label :order_status %>:<br>
              <%= f.select(:order_status, OrderStatus.all, {include_blank: "Selecione uma opção"}, { class: "form-control"}) %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <%= f.label :seller %>:<br>
              <%= f.collection_select(:seller_id, Employee.all, :id, :name, {include_blank: "Selecione uma opção"}, { class: "form-control"}) %>
            </div>

          </div>

          <div class="form-group">
            <%= f.submit :Buscar, class: "btn btn-primary" %>
            <%=link_to 'Cancelar', root_path,
              data: { confirm: 'Tem certeza que deseja cancelar essa operação?' },
              class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
<br/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Pedidos (<%= @sales.size %>)
      <div class="pull-right hidden-print">
        <a href="#" onclick="window.print();return false;">
          <i class="glyphicon glyphicon-print" title="Imprimir Pedido"></i> Imprimir
        </a>
      </div>
    </h3>

  </div>
  <div class="panel-body">
    <div class="well">
      <p><strong>Dados do relatório</strong></p>
      <ul>
        <li><strong>Data inicial:</strong> <%= @sales_report.initial_date %></li>
        <li><strong>Data final:</strong> <%= @sales_report.final_date %></li>
        <li><strong>Status:</strong> <%= @sales_report.order_status %></li>
        <li><strong>Vendedor:</strong> <%= @sales_report.seller.id %></li>
      </ul>
    </div>
    <hr/>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align: right;"># Pedido</th>
            <th>Vendedor</th>
            <th>Cliente</th>
            <th>Itens</th>
            <th style="text-align: right;">Valor (R$)</th>
          </tr>
        </thead>
        <tbody>

        <% if @sales.empty? %>
          <%= render partial: 'shared/empty_data', :locals => {:total_columns => 9} %>
        <% end %>

        <% @sales.each do |order| %>
          <tr>
            <td style="text-align: right;">
              <strong><%= order.number_id %></strong>
            </td>
            <td><%= order.employee.user.username %></td>
            <td>
              <%= order.client.name %>
            </td>
            <td>
              <% order.order_items.each_with_index do |item, i| %>
                <%= item.pizza.name %> (<%= item.quantity %>)
                <% if i < order.order_items.size - 1 %>
                  ,
                <% end %>
              <% end %>
            </td>
            <td style="text-align: right;"><%= number_to_currency(order.value, unit: "", separator: ",", delimiter: ".") %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="5" style="text-align: right; border-top: 2px solid;">
            Total: <%= number_to_currency(@total_sales, unit: "R$ ", separator: ",", delimiter: ".") %>
          </th>
        </tr>
      </tfoot>
      </table>
    </div>


  </div>
</div>
