
<h1>Listar Clientes</h1>
<%= link_to 'Cadastrar Cliente', new_client_path, class: "btn btn-primary" %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th style="text-align: center">Telefone</th>
        <th>Endereço</th>
        <th colspan="3" width="18%"></th>
      </tr>
    </thead>
    <tbody>

    <% if @clients.empty? %>
      <%= render partial: 'shared/empty_data', :locals => {:total_columns => 6} %>
    <% end %>

    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td style="text-align: center"><%= client.phone %></td>
        <td><%= client.address %></td>
        <td><%= link_to 'Visualizar', client_path(client) %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
		<% if can? :delete, Client %>
			<td><%= link_to 'Excluir', client_path(client),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
