<h1>Cadastrar Cliente</h1>

<%= form_for :client do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>

  login:

  senha:

  <p>
    <%= f.submit %>
  </p>
<% end %>
