<% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3>
        <%= pluralize(@order.errors.count, "erro(s)") %> encontrado(s):
      </h3>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @order, :html => {:class => "form"} do |f| %>
  <div class="form-group">
    <%= f.label :employee %><br>
    <%= @order.employee.name %> (<%= @order.employee.user.username %>)
    <%= hidden_field(:order, :employee_id, :value => @order.employee.id) %>
  </div>

  <div class="form-group row">
    <div class="col-md-4">
      <%= f.label :client %><br>
      <%= f.collection_select(:client_id, Client.all, :id, :name, {include_blank: "Selecione uma opção"},
      {:class=>'form-control'}) %>
    </div>
  </div>

  <h4>Itens do pedido</h4>

  <table class="table table">
    <thead>
      <tr>
        <!-- <th></th> -->
        <th>Sabor</th>
        <th style="text-align: right">Preço</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <% Pizza.all.each do |pizza| %>
        <%= f.fields_for :order_items do |item_form| %>
          <tr>
            <div class="row">
              <!-- <td><%= item_form.check_box :pizza_id, {}, pizza.id %></td> -->
              <td><%= pizza.name %></td>
              <td style="text-align: right"><%= pizza.price %></td>
              <td style="text-align: right">
                <div class="col-md-3">
                  <%= item_form.number_field :quantity, in: 0.0..20.0, step: 1.0, class: "form-control" %>
                  <%= item_form.hidden_field(:pizza_id, :value => pizza.id) %>
                </div>
              </td>
            </div>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td style="text-align: right"><%= f.label 'Total do Pedido' %>: R$ 0,00<br></td>
        <td></td>
      </tr>
    </tfoot>
  </table>






  <div class="form-group">
    <%= f.submit :Finalizar, class: "btn btn-primary" %>
    <%=link_to 'Cancelar', root_path,
      data: { confirm: 'Tem certeza que deseja cancelar essa operação?' },
      class: "btn btn-default" %>
  </div>
<% end %>
