
<h1>Listar Pedidos</h1>
<%= link_to 'Cadastrar Pedido', new_order_path, class: "btn btn-primary" %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Vendedor</th>
        <th>Itens</th>
        <th>Valor</th>
        <th colspan="3" width="18%"></th>
      </tr>
    </thead>
    <tbody>

    <% if @orders.empty? %>
      <%= render partial: 'shared/empty_data', :locals => {:total_columns => 6} %>
    <% end %>

    <% @orders.each do |order| %>
      <tr>
        <td><%= order.employee.name %></td>
        <td><%= order.pizzas %></td>
        <td><%= order.value %></td>
        <td><%= link_to 'Visualizar', order_path(order) %></td>
        <td><%= link_to 'Editar', edit_order_path(order) %></td>
        <td><%= link_to 'Excluir', order_path(order),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
