
<h1>Listar Pedidos</h1>
<%= link_to 'Cadastrar Pedido', new_order_path, class: "btn btn-primary" %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align: right;"># Pedido</th>
        <th>Vendedor</th>
        <th>Cliente</th>
        <th>Itens</th>
        <th>Status</th>
        <th style="text-align: right;">Valor (R$)</th>
        <th colspan="3" width="18%"></th>
      </tr>
    </thead>
    <tbody>

    <% if @orders.empty? %>
      <%= render partial: 'shared/empty_data', :locals => {:total_columns => 9} %>
    <% end %>

    <% @orders.each do |order| %>
      <tr>
        <td style="text-align: right;"><%= link_to order.number_id, order_path(order.id) %></td>
        <td><%= order.employee.user.username %></td>
        <td><%= link_to order.client.name, client_path(order.client.id) %></td>
        <td>
          <% order.order_items.each_with_index do |item, i| %>
            <%= item.pizza.name %> (<%= item.quantity %>)
            <% if i < order.order_items.size - 1 %>
              ,
            <% end %>
          <% end %>
        </td>
        <td><%= order.status %></td>
        <td style="text-align: right;"><%= number_to_currency(order.value, unit: "", separator: ",", delimiter: ".") %></td>
        <td>
          <% if !@status.nil? %>
            <% if @status == OrderStatus::REGISTERED %>
              <%= link_to 'Atender', order_path(order.id, :answer => true) %>
            <% elsif @status == OrderStatus::PREPARING %>
              <%= link_to 'Entregar', order_path(order.id, :answer => true) %>
            <% elsif @status == OrderStatus::DELIVERING %>
              <%= link_to 'Fechar Pedido', order_path(order.id, :answer => true) %>
            <% end %>
          <% end %>
        </td>
        <td><%= link_to 'Editar', edit_order_path(order) %></td>
        <td><%= link_to 'Excluir', order_path(order),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
